body{
  margin: 0px;
 background-color: black;
}

.div1{
  font-family: "Avenir Book" - 400 italic;
  font-style: italic;
  font-size: 13px;
  line-height: 15px;
  margin-top: 10px;
  letter-spacing: 1px;
  
}
.div2{
  font-family: "Avenir Medium" - 400;
  font-size: 14px;
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
}
.div3{
  font-family: "Avenir Book" - 400;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 15px;
  margin-top: 10px;
  text-decoration: underline;
  
}
.div3:hover{
  cursor: pointer;
}
.box2{
  margin-top: 55px;
  width: 100%;
  background-color: #fdfdf9;
  height: 65px;
  /* border: 1px solid green; */
}
.box2 img:hover{
  cursor: pointer;
  border-top: 3px solid teal;
}
input:hover{
  cursor: grab;
}
.box3{
  font-family: "Avenir Medium" - 400;
  font-size: 13px;
  
}
.box3>h2{
  margin-left: 25px;
  margin-top: 15px;
  letter-spacing: 1px;
}
.box3 h2:hover{
  cursor: pointer;
  color:rgb(27, 128, 128);
  border-bottom: 1px solid teal;
}
.box4 img:hover{
  cursor: pointer;
}
.box5{
  display: flex;
  margin-left: 70px;
  
}
.box5 p:hover{
  color: teal;
  cursor: pointer;
}
img:hover{
  cursor: pointer;
}
.sm1 img{
  width: 15%;
  position: absolute;
  transition: 400ms;
}
.sm1 img:hover{
  opacity: 0;
}
.sm2 img{
  margin-left: 300px;
  width: 15%;
  position: absolute;
  transition: 400ms;
}
.sm2 img:hover{
  opacity: 0;
}
.sm3 img{
  margin-left: 600px;
  width: 15%;
  position: absolute;
  transition: 400ms;
}
.sm3 img:hover{
  opacity: 0;
}
.sm4 img{
  margin-left: 900px;
  width: 15%;
  position: absolute;
  transition: 400ms;
}
.sm4 img:hover{
  opacity: 0;
}
.sm5 img{
  margin-left: 1200px;
  width: 15%;
  position: absolute;
  transition: 400ms;
}
.sm5 img:hover{
  opacity: 0;
}




